

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.offcanvas{
 right:100%;
 position:fixed;
 background:#009bb3;
 width:50%;
 height:100%;
 top:0px;
 transform: translate(100%,0);
 z-index:100;
 overflow: auto;
 
}
.tabs{

}
.tabs .tabs-nav{

    height:40px;
}
.tabs .tabs-nav h3{
    display:inline-block;
    height:40px;
    padding:10px;
    line-height:20px;
    background:#f9fb01;
    margin:0px;
 
}











